html {
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Grid template */
    display: grid;
}

html::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.jumbotron {
    padding-top: 6rem;
    background-color: lightgrey;
}

#projects {
    background-color: lightgrey;
}

section {
    padding-top: 6rem;
}

#viewInput {
    opacity: 0;
}